#splash {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#splash-name {
  position: absolute;
  font-size: 104px;
  color: white;
  font-family: 'Roboto', sans-serif;
  top: 250px;
  left: 250px;
}
