$neutral-100: #ebebeb;
$neutral-400: #ada9bb;
$neutral-900: #797586;

$blue: #3a3eba;
$purple: #ba2fa6;
$pink: #fb4582;
$orange: #ff7f60;
$yellow: #ffbd52;
$bright-yellow: #f9f871;

body {
  background-color: $neutral-100;
}
