@import './utilities/variables';

$frame-color: rgb(196, 196, 196);
$frame-color-shadow: rgb(187, 187, 187);

body {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#scene-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#frame {
  position: relative;
  width: 304px;
  height: 626px;
  background-color: $frame-color;
  border-radius: 28px;
}

#power-button {
  position: absolute;
  background-color: $frame-color-shadow;
  width: 2px;
  height: 76px;
  right: -2px;
  top: 159px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#volume-button-one {
  position: absolute;
  background-color: $frame-color-shadow;
  width: 2px;
  height: 25px;
  left: -2px;
  top: 99px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#volume-button-two {
  position: absolute;
  background-color: $frame-color-shadow;
  width: 2px;
  height: 47px;
  left: -2px;
  top: 145px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#volume-button-three {
  position: absolute;
  background-color: $frame-color-shadow;
  width: 2px;
  height: 47px;
  left: -2px;
  top: 204px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#bezel {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: rgb(1, 1, 1);
  border-radius: 22px;
  box-shadow: 0px 0px 2px 2px black;
}

#camera-bezel {
  position: absolute;
  z-index: 2;
  top: 8px;
  left: 50%;
  width: 50%;
  height: 23px;
  margin-left: -25%;
  background-color: rgb(1, 1, 1);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  align-items: center;
}

#camera {
  position: absolute;
  right: 35px;
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  border: 1px solid rgb(8, 8, 8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#camera-tint-blue {
  width: 6px;
  height: 6px;
  background-color: rgb(2, 2, 2);
  box-shadow: 0px 0px 1px 1px black;
  border-radius: 50px;
}

#speaker {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 5px;
  background-color: rgb(12, 12, 12);
  border-radius: 50px;
  border: 1px solid rgb(20, 20, 20);
}

#screen-container {
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  background-color: rgb(12, 95, 121);
  border-radius: 16px;
  background-image: url('./iphone-background.png');
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#ui-menu {
  position: absolute;
  width: 92%;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  bottom: 10px;
  border-radius: 22px;
  backdrop-filter: brightness(1) blur(2px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#ui-menu svg {
  cursor: pointer;
  transition: 0.2s;
  width: 30px;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  border-radius: 10px;
}

#ui-menu svg:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

#ui-menu img {
  cursor: pointer;
  width: 30px;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  border-radius: 10px;
}

#ui-menu img:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

#app-container {
  top: 50px;
  position: absolute;
  height: 72%;
  width: 90%;
}
